@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "siemens-sans";
  src: url("../fonts/SiemensSans-Black.ttf");
}

p,
white {
  color: white;
  font-size: 26px !important;
  font-family: siemens-sans, Times, serif;
}

@font-face {
  font-family: "bree-sh";
  src: url("../fonts/Bree-SH.otf");
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  font-family: siemens-sans, Times, serif;
  height: 1080px;
}

.bree-text {
  font-family: bree-sh, Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


